<header>

    <div class="logo-container">
    <a href="{{ path('main_index') }}">
        <img src="{{asset('images/logo.svg')}}" alt="logo quiz">
    </a>
    <a href="{{ path('main_index') }}">
        <p class="logo-name">Knowledge Pursuit</p>
    </a>
    </div>

    <nav>
            <a href="{{ path('quiz_selection') }}">Quiz</a>
            <a href="{{ path('quiz_questions') }}">Questions</a>
            <a href="{{ path('user_login') }}">Connexion</a>
            <a href="{{ path('user_register') }}">Inscription</a>
    </nav>

    <button type="button" aria-label="toggle curtain navigation" class="nav-toggler">
        <span class="line l1"></span>
        <span class="line l2"></span>
        <span class="line l3"></span>
    </button>
</header>